* text=auto eol=lf
*.xlsx -text
*.xlsm -text
*.docx -text
*.docm -text
tests/fixtures/poi/SimpleMacro.vba -text
tests/fixtures/poi/LICENSE -text
tests/fixtures/poi/NOTICE -text
*.jpg -text
*.png -text
